*
{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html
{
  overflow-x: hidden;
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(black,rgb(103, 9, 211),black); /* Set your gradient here */
  border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
  background: black;
}